$color-primary:#364F6B;
$color-white:#FFFF;
$color-blue-500:#364F6B;
$color-red-700:#f12663;
$color-red-500:#FC5185;
$color-green-500:#3FC1C9;
$color-grey-200:#F5F5F5;
$color-grey-300:#F2F2F2;
$color-grey-400:#E5E5E5;
$color-grey-500:#C4C4C4;
$color-grey-600:#777777;
$color-grey-700:#5E5E5E;


